
body {
    background-color: black;
    color: aquamarine;
    }

    h1 {
        text-align: center;
       
      }
      
    h2{
        text-align: center;
    }

    p {
        text-align: center;
    }

      nav a {
        padding-left: 10px;
        padding-right: 10px;
        background-color: black;
        
      }
      
      nav {
        text-align: center;
    
      }

      #clickGameButton{
        position: absolute;
        left: 650px;
        top: 200px;
      
      }
        
     